@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #ebf2fa;
}

#title-page {
    font-family: "Pacifico", cursive;
    font-size: 24px;
}

.linear-simple {
    background: linear-gradient(#ff9c1a, #ed250a);
    background-clip: text;
    color: transparent;
}

.logo1 {
    background: #e80505;
    background-clip: text;
    color: transparent;
}

.logo2 {
    background: #ff9c1a;
    background-clip: text;
    color: transparent;
}



.linear-button {
    background: linear-gradient(90deg, #ff9c1a, #ed250a);
    color: transparent;
}

.night-button {
    background: #ebf2fa;
    border-color: lightgrey;
}

.bblue {
    background: #ebf2fa;
}

.image-top {
    margin-top: -100px;
}

.police {
    font-family: "Raleway", sans-serif;
}

.police2 {
    font-size: 32px;
}


.cv-btn {
    padding: 12px 20px;
    border-radius: 50px !important;
    width: 80% !important;
}

.cv-btn p {
    margin: 0;
}

.cv-btn:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
    transition: 0.2s ease;
}

.my-border {
    border-radius: 6px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-item {
    margin-right: 0px;
    font-weight: 600;
}

.nav-item a {
    color: black;
}

.main-top {
    margin-top: 100px;
}

.nav-top {
    margin-top: -50px;
}

.bloc-top {
    margin-top: 100px;
}

.nav-color {
    background-color: #e1e8ef;
}

.about-title h1 {
    white-space: nowrap;
}

.hr-title {
    border: none;
    height: 3px;
    background: linear-gradient(90deg,#ff9c1a, #ed250a);
    max-width: 200px;   
    flex-grow: 1;       
    opacity: 1;
}

.bloc_orange {
    background-color: #ffebd1;
    
}

.bloc_orange_light {
    background-color: #ffeed9;
}
.bloc_orange_strong {
    background-color: #ffe3bf;
}
.margin-title {
    margin-right: 4rem ;
}

@media (max-width: 767px) {
    .profil {
        margin-top: 150px; 
    }
}

.image-1 {
    width: 334px;
    height: 100px;
}

.image-2 {
    width: 334px;
    height: 150px;
}

.col-gauche > div {
    margin-bottom: 20px !important; /* blocs collés */
}

.col-droite > div:not(:last-child) {
    margin-bottom: 20px; /* spacing normal */
}


/* barre de nav */



.form-line {
  border: none;
  border-bottom: 1px solid #adb5bd; /* gris */
  border-radius: 0;
  background-color: transparent !important;
  padding-left: 0;
}

.form-line:focus {
  background-color: transparent !important; /* empêche le fond blanc */
  box-shadow: none;
  border-bottom-color: #dee2e6;
 
}


.btn-outline-orange {
  background: transparent;
  border: 1.5px solid transparent;
  border-radius: 999px;

  background-image:
    linear-gradient(transparent, transparent),
    linear-gradient(90deg, #ff9c1a, #ed250a);

  background-origin: border-box;
  background-clip: padding-box, border-box;

  color: #ff9c1a;
}


.btn-outline-orange:hover {
  background-color: transparent;  /* reste transparent */
  color: linear-gradient(90deg,#ff9c1a, #ed250a);
  border-color:linear-gradient(90deg,#ff9c1a, #ed250a);
}

.btn-outline-orange:focus {
  box-shadow: none;
}



