@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #ebf2fa;
}

#title-page {
    font-family: "Pacifico", cursive;
    font-size: 24px;
}

.linear-simple {
    background: linear-gradient(#ff9c1a, #ed250a);
    background-clip: text;
    color: transparent;
}

.linear-button {
    background: linear-gradient(90deg, #ff9c1a, #ed250a);
    color: transparent;
}

.night-button {
    background: #ebf2fa;
    border-color: lightgrey;
}

.bblue {
    background: #ebf2fa;
}

.image-top {
    margin-top: -100px;
}

.police {
    font-family: "Raleway", sans-serif;
}

.police2 {
    font-size: 32px;
}


.cv-btn {
    padding: 12px 20px;
    border-radius: 50px !important;
    width: 80% !important;
}

.cv-btn p {
    margin: 0;
}

.cv-btn:hover {
    filter: brightness(1.1);
    transform: translateY(-2px);
    transition: 0.2s ease;
}

.my-border {
    border-radius: 6px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav-item {
    margin-right: 0px;
    font-weight: 600;
}

.nav-item a {
    color: black;
}

.main-top {
    margin-top: 100px;
}

.nav-top {
    margin-top: -50px;
}

.bloc-top {
    margin-top: 100px;
}

.nav-color {
    background-color: #e1e8ef;
}

.about-title h1 {
    white-space: nowrap;
}

.hr-title {
    border: none;
    height: 3px;
    background: linear-gradient(90deg,#ff9c1a, #ed250a);
    max-width: 200px;   
    flex-grow: 1;       
    opacity: 1;
}

.bloc_orange {
    background-color: #ffebd1;
    
}
